{{ define "content-top" }}

{{ end }}


{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="print-version">
                <div class="print-pdf">
                    <a class="button news_banner__button" href="#"
                       target="_blank">
                        <img src="{{ .Site.BaseURL }}/images/play.svg" width="20" height="20" alt="">
                        <span>{{ T "security_playbutton" }}</span>
                    </a>
                </div>
            </div>
            <div class="subpage-content__menu">
               <a href="#">WHAT IS DECRED|</a><a href="/adaptability">ADAPTABLE</a><a class="active" href="/security">SECURE</a><br><a href="/sustainability">SUSTAINABLE</a><a href="/history">HISTORY</a>
            </div>
            <div class="subpage-content-section ex" id="subpages">
                <div class="subpage-content">
                    <div class="subpage-description__heading" translate>
                        <p>{{ T "security_introtext" }}</p>
                    </div>
                    <div class="row margin30">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "security_01_headline" }}</p>
                                <p>{{T "security_01_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>
                    <div class="row margin30">
                        <div class="col-6">  
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "security_02_headline" }}</p>
                                <p>{{ T "security_02_text" }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "security_03_headline" }}</p>
                                <p>{{ T "security_03_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>
                </div>
                   
                {{ partial "subpage-footerblocks.html" . }}
            </div>
        </div>
    </div>
    {{ partial "subpage-footer.html" . }}
{{ end  }}


